APP_NAME=Pishrun Project
NODE_ENV=development


HOST=0.0.0.0
PORT=3000


DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=secret
DB_AUTOLOADENTITIES=true #for typeorm


JWT_SECRET=secretKey
JWT_EXPIRES_IN=60m


# Hetzner Cloud Configuration
ENCRYPTION_KEY=your-encryption-key-here-change-in-production
HETZNER_API_BASE_URL=https://api.hetzner.cloud/v1

